<!DOCTYPE html>
<meta charset="utf-8">
<html lang="zh-CN">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
        <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
    </head>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">RC4CSR</a></h1>
          </li>
          <!--<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
        </ul>
      
        <section class="top-bar-section">
          <ul class="left">
            <li class="active"><a href="/account/login">登录</a></li>
          </ul>
          <ul class="left">
            <li class="active"><a href="/account/register">注册</a></li>
          </ul>
          <ul class="right">
            <li class="active"><a href="/account/{{user.username}}">用户：{{platform_user}} 的主页</a></li>
          </ul>
        </section>
    </nav>
        <div class="row">
        <div class="medium-2 columns" style="background-color:#f1f1f1;">
          <ul class="side-nav">
            <li><a href="/account">账户</a></li>
            <li><a href="/recommendation">推荐区</a></li> 
            <li class="active" ><a href="/discussion">讨论区</a></li>
            <li><a href="/writing">创作区</a></li> 
            <h3>讨论区功能</h3>
            <li><a href="/discussion/register/">创建讨论组</a></li>
          </ul>
        </div>
        
            <div class="medium-9 columns">
              <div class="panel">
                <h1>Welcome to RC4CSR!</h1>
                <p>阅读、交流、创作</p>
              </div>
            </div>
          
        
        <div class="row">
            <div class="medium-9 columns">
        {% block mainpage %}
        {% endblock mainpage %}
            </div>
        </div>
    </div>
<html>