{% extends 'base.html' %}
{% block mainpage %}
<h1>欢迎来到讨论组：{{ group.groupName }}</h1>
<ul>
    {% if err_msg %}
        <div>{{ err_msg }}</div>
        {% endif %}
{% for record in records %}
    <h3>{{ record.summary }}</h3>
    <li>publisher: {{ record.publisher }}<li>
    <h4>{{ record.content }}</h4>
    <a href="{% url 'like' record.id %}" class="button info" role="button">点赞：{{ record.like.like_num }}</a>
    <!--button class="button info"><li><a href="{% url 'like' record.id %}">likes: {{ record.like.like_num }}</a></li></button>-->
{% endfor %}
<form method="post">{% csrf_token %}
    <h1>新建评论</h1>
    总结（50字内）：<input type="text" name="summary"><br>
    内容（200字内）：<input type="text" name="content"><br>

    <input type="submit" value="提交">
</form>
</ul>
{% endblock mainpage%}