{% extends 'base.html' %}
{% block mainpage %}
<h1>亲爱的创作者 {{platform_user.nickname}}</h1>
<h2>以下是您已经发布的作品: </h2>
{% if pencraft_list %}
    <ul>
    {% for pencraft in pencraft_list %}
    <div class="panel callout">
        <!-- <li><a href="/writing/{{ pencraft.id }}/">{{ pencraft.topic }}</a></li> hard coded -->
        <li><a href="{% url 'pencraft' pencraft.id %}">{{ pencraft.topic }}</a></li>
        <h5>更新日期：{{pencraft.pub_date}}</h5>
        简介：{{pencraft.description}}
    </div>
    {% endfor %}
    </ul>
{% else %}
    <p>您暂未在本平台上发布创作</p>
{% endif %}
<h2>开始新的创作：</h2>
{% if err_msg %}
        <div data-alert class="alert-box info round">{{ err_msg }}</div>
{% endif %}
<form method="post">{% csrf_token %}
    作品标题(100字以内)<input type="text" name="topic"><br>
    作品简介(200字以内)<input type="text" name="description"><br>

    <input type="submit" value="submit">
</form>
{% endblock mainpage %}