<!DOCTYPE html>
<html lang="zh-CN">
    <head>

    </head>
    <body>
        <div class="main-document-header-container">
            <header class="main-document-header-container top-navigation">
                <div class="container"></div>
            </header>
            <div class="article-actions-container" style="background-color: aqua;">
                <div class="container">
                    <h1>Welcome to RC4CSR!</h1>
                    <a href="/account/login/">重新登录</a> <a href="/account/logout/">退出登录</a>
                </div>
            </div>

        {% block mainpage %}
        {% endblock mainpage %}
    </body>
<html>