# PROJECT SPECIFIC #
# IDE configs #
.vscode/
.idea/
migrations/
test_data/
logstore/
* old.*
*_old.*
*fake.*
*backup.*
*backup/
*local/
.DS_store

# Python #
__pycache__/
*.py[cod]

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.sqlite3

# Data #
data/

# Too large files #
ML/VAE_RD_2_3_512_1024__.data-00000-of-00001
System/Recommendation/RecModel/VAE_RD_2_3_512_1024__.data-00000-of-00001