{% extends 'base.html' %}
{% block mainpage %}
        <h1>图书搜索</h1>
        {% if err_msg %}
        <div data-alert class="alert-box info round">{{ err_msg }}</div>
            {% if book_found %}
                <li><a href="/recommendation/book/{{ book_found.id }}">{{ book_found.bookname }}</a></li>
            {% endif %}
        {% endif %}
        <form method="get">
            书名：<input type="text" name="name"><br>
            <input type="submit" value="提交">
        </form>
{% endblock mainpage %}